<!DOCTYPE html>
<html lang="en">


<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <!-- fav icon and mobile theme -->
    <link rel="icon" type="image/png" sizes="32x32" href="{{ render_static('assets/img/kit/nic-fav-32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ render_static('assets/img/kit/nic-fav-16.png')}}">
    <meta name="theme-color" content="#057855fc">

    <title>
        NIC | Branch
    </title>

    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="{{ render_static('assets/css/font-awesome/latest/css/font-awesome.min.css') }}" />
    <link href="{{ render_static('assets/css/icomoon/styles.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ render_static('assets/css/material-kit.min40a0.css?v=2.0.2') }}">
    <link rel="stylesheet" href="{{ render_static('assets/css/style.css') }}">
    <link rel="stylesheet" href="{{ render_static('assets/css/chat.css') }}">
    <link rel="stylesheet" href="{{ render_static('assets/css/samsung/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ render_static('assets/confirm_js/css/jquery-confirm.css') }}">
</head>

<body class="about-us ">

<div id="wrap-loader" >
    <div id="loader" class="text-center">
        <div class="loader-div"></div>
        <h3 style="color: teal; font-size: 20px;font-family:'Samsung Sharp Sans Regular Regular';">Loading....</h3>
    </div>
</div>
{% block navbar %}
    {% include "common/navbar.html.twig" %}
{% endblock %}
<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url({{ render_static('assets/img/kit/bg21.jpg') }});">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ml-auto mr-auto text-center t_c_top_title">
                <h1 class="title branch-title" style="font-family:'Samsung Sharp Sans Regular Regular'; display: inline;">(Branch.name)</h1>
            </div>
        </div>
    </div>
</div>
<div class="main main-raised tender-raised-cont">
    <div class="container col-lg-12">

        <div class=" text-center pb-3 pt-3">

            <div  class="row mb-5">
                <div class="col-lg-9">

                    <div class="row">

                        <!-- loop this -->
                        <div class="col-lg-3">
                            <div class="card card-contact card-raised">

                                <div class="card-body">
                                    <div class="row">
                                        <div class="media-body text-center">
                                            <h6 style="color: green;">James Alexander</h6>
                                            <p class="text-muted">BRANCH MANAGER</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end loop -->

                        <!-- loop this -->
                        <div class="col-lg-3">
                            <div class="card card-contact card-raised">

                                <div class="card-body">
                                    <div class="row">
                                        <div class="media-body text-center">
                                            <h6 style="color: green;">James Alexander</h6>
                                            <p class="text-muted">Lead developer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end loop -->

                        <!-- loop this -->
                        <div class="col-lg-3">
                            <div class="card card-contact card-raised">

                                <div class="card-body">
                                    <div class="row">
                                        <div class="media-body text-center">
                                            <h6 style="color: green;">James Alexander</h6>
                                            <p class="text-muted">Lead developer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end loop -->

                        <!-- loop this -->
                        <div class="col-lg-3">
                            <div class="card card-contact card-raised">

                                <div class="card-body">
                                    <div class="row">
                                        <div class="media-body text-center">
                                            <h6 style="color: green;">James Alexander</h6>
                                            <p class="text-muted">Lead developer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end loop -->

                        <!-- loop this -->
                        <div class="col-lg-3">
                            <div class="card card-contact card-raised">

                                <div class="card-body">
                                    <div class="row">
                                        <div class="media-body text-center">
                                            <h6 style="color: green;">James Alexander</h6>
                                            <p class="text-muted">Lead developer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end loop -->

                        <!-- loop this -->
                        <div class="col-lg-3">
                            <div class="card card-contact card-raised">

                                <div class="card-body">
                                    <div class="row">
                                        <div class="media-body text-center">
                                            <h6 style="color: green;">James Alexander</h6>
                                            <p class="text-muted">Lead developer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end loop -->

                        <!-- loop this -->
                        <div class="col-lg-3">
                            <div class="card card-contact card-raised">

                                <div class="card-body">
                                    <div class="row">
                                        <div class="media-body text-center">
                                            <h6 style="color: green;">James Alexander</h6>
                                            <p class="text-muted">Lead developer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end loop -->

                        <!-- loop this -->
                        <div class="col-lg-3">
                            <div class="card card-contact card-raised">

                                <div class="card-body">
                                    <div class="row">
                                        <div class="media-body text-center">
                                            <h6 style="color: green;">James Alexander</h6>
                                            <p class="text-muted">Lead developer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end loop -->
                    </div>
                </div>
                <div class="col-lg-3">

                    <div class="col-lg-12 text-center mb-5"><span style="border-bottom: 1px solid #999">CONTACT US</span></div>
                    <div class="col-lg-12" style="border-left: 1px solid #999999">
                        <p><span class="text-muted">Phone Number</span> <span class="pull-right sys-color-text">+255 712 345 678</span></p>
                        <p><span class="text-muted">Branch Email </span><span class="pull-right sys-color-text">info@nictanzania.com</span></p>
                    </div>
                    <div class="col-lg-12 text-center mt-10"><span style="border-bottom: 1px solid #999">WORKING HOURS</span></div>
                    <div class="col-lg-12 mt-3 text-left" style="border-left: 1px solid #999999">
                        <p><span class="text-muted">Weekdays</span> <span class="pull-right sys-color-text">8:00am - 4:30pm</span></p>
                        <p><span class="text-muted">Weekends</span> <span class="pull-right sys-color-text">9:00am - 12:30pm</span></p>
                        <p><span class="text-muted">Holidays</span> <span class="pull-right text-danger">Closed</span></p>
                    </div>
                </div>
            </div>
            <div class="content-divider text-muted form-group"><span>ASSOCIATED BLOCKERS</span></div>

            <div class="row">
                <!-- loop this -->
                <div class="col-lg-4">
                    <div class="card card-contact card-raised">

                        <div class="card-body">
                            <div class="row">
                                <div class="media-body text-center">
                                    <h6 style="color: green;">Kasoma JK Ntandu</h6>
                                    <p class="text-muted "><span class="prof-mob"><i class="icon-location3"></i>Kigamboni Kisiwani</span> &nbsp &nbsp <span class="prof-mob"><i class="icon-phone2"></i>+255 717 789 807</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end loop -->
                <!-- loop this -->
                <div class="col-lg-4">
                    <div class="card card-contact card-raised">

                        <div class="card-body">
                            <div class="row">
                                <div class="media-body text-center">
                                    <h6 style="color: green;">Kasoma JK Ntandu</h6>
                                    <p class="text-muted "><span class="prof-mob"><i class="icon-location3"></i>Kigamboni Kisiwani</span> &nbsp &nbsp <span class="prof-mob"><i class="icon-phone2"></i>+255 717 789 807</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end loop -->
                <!-- loop this -->
                <div class="col-lg-4">
                    <div class="card card-contact card-raised">

                        <div class="card-body">
                            <div class="row">
                                <div class="media-body text-center">
                                    <h6 style="color: green;">Kasoma JK Ntandu</h6>
                                    <p class="text-muted "><span class="prof-mob"><i class="icon-location3"></i>Kigamboni Kisiwani</span> &nbsp &nbsp <span class="prof-mob"><i class="icon-phone2"></i>+255 717 789 807</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end loop -->
            </div>
            <div class="content-divider text-muted form-group"><span>LOCATION IN MAP</span></div>

            <div class="row card mx-auto" >
                <!--Google map-->
                <div id="map-container" class="z-depth-1 b-r-7 "></div>


                <!--Google Maps-->
                <script type="text/javascript">
                    function myMap() {
                        var mapProp= {
                            center:new google.maps.LatLng(-6.8159803,39.2905912),
                            zoom:15,
                        };
                        var map=new google.maps.Map(document.getElementById("map-container"),mapProp);
                    }
                </script>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqIk-lvXNz9KUodDZ_O7gg7_21zfVSAA4&callback=myMap"></script>

            </div>
        </div>
    </div>
</div>
<footer class="footer ">
    <div class="container">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="/" class=" sys-color-text">
                        Home
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right font-weight-normal sys-color-text" >
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script>
            &nbsp National Insurerance Corporation (T) Limited.
        </div>
    </div>
</footer>

</body>
</html>
<!--   Core JS Files   -->
<script src="{{ render_static('assets/js/core/jquery.min.js') }}"></script>
<script src="{{ render_static('assets/js/core/popper.min.js') }}"></script>
<script src="{{ render_static('assets/js/bootstrap-material-design.min.js') }}"></script>

<!--  Plugin for Date Time Picker and Full Calendar Plugin  -->
<script src="{{ render_static('assets/js/plugins/moment.min.js') }}"></script>
<!--    Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script src="{{ render_static('assets/js/plugins/bootstrap-datetimepicker.min.js') }}"></script>
<!--    Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="{{ render_static('assets/js/plugins/nouislider.min.js') }}"></script>
<!--    Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
<script src="{{ render_static('assets/js/plugins/bootstrap-selectpicker.js') }}"></script>
<!--    Plugin for Tags, full documentation here: http://xoxco.com/projects/code/tagsinput/  -->
<script src="{{ render_static('assets/js/plugins/bootstrap-tagsinput.js') }}"></script>
<!--    Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="{{ render_static('assets/js/plugins/jasny-bootstrap.min.js') }}"></script>
<!--    Plugin for Small Gallery in Product Page -->
<script src="{{ render_static('assets/js/plugins/jquery.flexisel.js') }}"></script>
<!-- Material Kit Core initialisations of plugins and Bootstrap Material Design Library -->
<script src="{{ render_static('assets/js/material-kit.min40a0.js?v=2.0.2') }}"></script>
<script src="{{ render_static('assets/js/style.js') }}"></script>
<script src="{{ render_static('assets/js/fab.min.js') }}"></script>
<script src="{{ render_static('assets/js/extra_fab.js') }}"></script>

<script src="{{ render_static('assets/js/bootstrap-notify.min.js') }}"></script>

<script type="text/javascript" src="{{ render_static('assets/confirm_js/js/jquery-confirm.js') }}"></script>


<script type="text/javascript">

    $('.branch-title').text("Dar es salaam Headquarter")
    //start functiom view more
    function view_more(branch_id){
        window.location.href = "branch.html?branch="+branch_id;
    }
</script>