<!DOCTYPE html>
<html lang="en">


<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <!-- fav icon and mobile theme -->
    <link rel="icon" type="image/png" sizes="32x32" href="{{ render_static('assets/img/kit/nic-fav-32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ render_static('assets/img/kit/nic-fav-16.png')}}">
    <meta name="theme-color" content="#1f5a2c">


    <title>
        Tenders & Careers | NIC
    </title>

    <!--     Fonts and icons     -->
    {% include "common/css_links.html.twig" %}
</head>


<body class="about-us ">

<div id="wrap-loader" >
    <div id="loader" class="text-center">
        <div class="loader-div"></div>
        <h3 style="color: teal; font-size: 20px;font-family:'Samsung Sharp Sans Regular Regular';">Loading....</h3>
    </div>
</div>

{% block navbar %}
    {% include "common/navbar.html.twig" %}
{% endblock %}

<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url({{ render_static('assets/img/kit/bg21.jpg') }});">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ml-auto mr-auto text-center t_c_top_title">
                <h1 class="title" style="font-family:'Samsung Sharp Sans Regular Regular'; display: inline;">Tenders &nbsp</h1>
                <span class="text-white" style="font-weight: 500">&amp</span>
                <h1 class="title" style="font-family:'Samsung Sharp Sans Regular Regular'; display: inline;">&nbsp Careers</h1>
            </div>
        </div>
    </div>
</div>
<div class="main main-raised tender-raised-cont">
    <div class="container col-lg-11">

        <div class="about-description text-center" >
            <div  class="row" style="margin-top: -60px;">
                <div class="col-md-2">
                    <ul class="nav nav-pills nav-pills-sys-col nav-pills-icons flex-column mb-5" role="tablist" style="justify-content: center;">
                        <li class="nav-item">
                            <a class="nav-link active" href="#tenders" role="tab" data-toggle="tab">
                                <label class="label-counter tender_count">{{ tender_count }}</label><br>
                                tenders
                            </a>
                        </li>
                        <li class="nav-item" style="margin-top: -0px">
                            <a class="nav-link" href="#carrier" role="tab" data-toggle="tab">
                                <label class="label-counter career_count">{{ career_count }}</label><br>
                                careers
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-10" style=" padding: 0;">
                    <div class="tab-content">
                        <div class="tab-pane active mb-3" id="tenders" >


                            <!-- this div is for when there is new tenders -->
                            <!-- <div class="custom-info-alert alert-animated-2 mt-3">
                                <span><i class="icon-alert"></i> &nbsp&nbsp New Tenders Available!</span>
                            </div> -->

                            <div style="overflow-x: auto;" >

                                {% if tenders %}
                                <table class="table mt-2 table-style">
                                    <thead>
                                    <tr>
                                        <th class="text-center mob-hide-col">#</th>
                                        <th class="mob-hide-col">Tender No.</th>
                                        <th class="mob-br-up-l">Tenders Description</th>
                                        <th class="mob-hide-col">Tender Category</th>
                                        <th class="mob-hide-col">Bid Document Price</th>
                                        <th>Deadline</th>
                                        <th>View Details</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for tender in tenders %}
                                            <tr>
                                                <td class="text-center mob-hide-col">{{ loop.index }}</td>
                                                <td class="mob-hide-col">{{ tender.tender_number }}</td>
                                                <td style=" width: 300px">{{ tender.tender_description }}</td>
                                                <td class="mob-hide-col">{{ tender.tender_category }}</td>
                                                <td class="mob-hide-col">{{ tender.document_price }}</td>
                                                <td class="text-right">{{ tender.deadline }}</td>
                                                <td class="td-actions text-right">
                                                    <button type="button more-info" rel="tooltip" class="btn btn-info" data-toggle="modal" data-target="#tender-{{ tender.id }}">
                                                        More Details
                                                    </button>
                                                </td>
                                            </tr>

                                        {% endfor %}
                                    {% else %}

                                        <!-- this div is for when there no tenders -->
                                        <div class="custom-danger-alert alert-animated">
                                            <span><i class="icon-alert"></i> &nbsp&nbsp Currently no new Tenders !</span>
                                        </div>
                                    {% endif %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="carrier">

                            


                            <div class="modal-body job-div" style="font-size: 13px;">
                                <div class="row " style="background:rgba(16, 94, 58, 0.5); padding:7px;border-radius:6px;color:white">
                                    <div class="col-lg-2 col-sm-2 font-weight-bold">
                                        No.
                                    </div>
                                    <div class="col-lg-6 col-sm-9 font-weight-bold">
                                        JOB TITLE
                                    </div>
                                    <div class="col-lg-2 col-xs-9 font-weight-bold">
                                        POSITIONS
                                    </div>
                                    <div class="col-lg-2 col-xs-9 font-weight-bold">
                                        MORE
                                    </div>
                                </div>

                                <hr>
                                <!--main jobs list container-->
                                <div class="row b-r-6" style="box-shadow: 0 2px 3px 2px rgba(0,0,0,.1); padding: 10px 0px;">
                                    {% if careers %}
                                        {% for career in careers %}
                                                <div class="col-lg-2 col-sm-2">
                                                    {{ loop.index }}
                                                </div>
                                                <div class="col-lg-6 col-sm-2">
                                                    {{ career.job_title }}
                                                </div>
                                                <div class="col-lg-2 col-sm-2">
                                                    {{ career.position }}
                                                </div>
                                                <div class="col-lg-2 col-sm-2">
                                                    <button type="button more-info" class="btn btn-info btn-sm" data-toggle="modal" data-target="#job-{{ career.id }}">
                                                        More Details
                                                    </button>
                                                </div>

                                        {% endfor %}
                                    {% else %}
                                        <!-- this div is for when there no job vacancy -->
                                        <div class="custom-danger-alert alert-animated">
                                            <span><i class="icon-alert"></i> &nbsp&nbsp Currently no new job vacancy !</span>
                                        </div> 
                                    {% endif %}


                                    {# <div class="col-lg-12 text-center mt-2">
                                        <a href="" title="More"> <i class=" icon-circle-down2" style="font-size: 20px; color: rgba(0,0,0,.45);"></i> </a>
                                    </div> #}
                                </div>


                            </div>

                            <div class="text-left job-div-mob">
                                {% if careers %}
                                    {% for career in careers %}
                                        <h4 class="" style="font-weight: 600;margin-bottom: 0">{{ loop.index }}. {{ career.job_title }}</h4>
                                        <label style="">Positions : {{ career.position }}</label>
                                        <ul>
                                            {% if objectives %}
                                                {% for objective in objectives %}
                                                    {% if (career.id == objective.career_id) %}
                                                        <li> {{ objective.description }}</li>
                                                    {% else %}
                                                        Not Specified Yet
                                                    {% endif %}
                                                {% endfor %}
                                            {% else %}
                                                <!-- this div is for when there no job vacancy -->
                                                    <div class="custom-danger-alert alert-animated">
                                                        <span><i class="icon-alert"></i> &nbsp&nbsp Currently no new job vacancy !</span>
                                                    </div> 
                                            {% endif %}
                                        </ul>
                                        <a href="#" class="btn btn-white sys-btn-raise btn-sm" data-toggle="modal" data-target="#job-{{ career.id }}" style="color: rgba(5, 120, 85,1)">More details</a>
                                        <button onclick="share()" class="share btn btn-fab btn-round btn-sm sys-btn-raise" title="Share this link" data-toggle="tooltip" data-placement="bottom" style="background: #00a78e">
                                            <i class="material-icons">share</i>
                                        </button>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% if tenders %}
    {% for tender in tenders %}
        <div class="modal fade bd-example-modal-lg" id="tender-{{ tender.id }}" tabindex="-1" role="dialog" aria-labelledby="moreTenderDetails" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header ">
                        <h5 class="modal-title" id="moreTenderDetails" >TENDER NUMBER: <span class=" modal_badge">{{ tender.tender_number }}</span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" style="color: red">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="font-size: 13px;">
                        <div class="row">
                            <div class="col-lg-3 col-xs-3 font-weight-bold">
                                Procuring Entity - Code Number
                            </div>
                            <div class="col-lg-9 col-xs-9">
                                {{ tender.code_number }}
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-lg-3 col-xs-3 font-weight-bold">
                                Tender Number - Tender Category
                            </div>
                            <div class="col-lg-9 col-xs-9">
                                {{ tender.tender_category }}
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-lg-3 col-xs-3 font-weight-bold">
                                Tender Description
                            </div>
                            <div class="col-lg-9 col-xs-9">
                                {{ tender.tender_description }}
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-lg-3 col-xs-3 font-weight-bold">
                                Eligible Firms
                            </div>
                            <div class="col-lg-9 col-xs-9">
                                {% if tender.eligible_firm %}
                                    Local Firms
                                {% else %}
                                    International Firms
                                {% endif %}
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-lg-3 col-xs-3 font-weight-bold">
                                Method of Procurement
                            </div>
                            <div class="col-lg-9 col-xs-9">
                                {% if tender.method_of_procurement %}
                                    Competitive Bidding
                                {% else %}
                                    Assign Bidding
                                {% endif %}
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-lg-3 col-xs-3 font-weight-bold">
                                Deadline
                            </div>
                            <div class="col-lg-9 col-xs-9">
                                {{ tender.deadline | date("Y-m-d") }}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        {% if tender.file_name %}
                            <a href="{{ render_static(tender.file_name) }}" download="true" class="btn btn-success btn-round sys-btn-raise btn-sm"><i class="icon-download4"></i>&nbsp&nbspDownload</a>
                        {% endif %}
                        <button type="button" class="btn btn-danger ml-2 btn-round sys-btn-raise btn-sm" data-dismiss="modal"><i class="icon-cross"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}
{% if careers %}
    {% for career in careers %}
        <div class="modal fade bd-example-modal-lg" id="job-{{ career.id }}" tabindex="-1" role="dialog" aria-labelledby="moreTenderDetails" aria-hidden="true" >
            <div class="modal-dialog modal-lg" role="document" >
                <div class="modal-content b-r-6" style=" z-index: 1000;">

                    <div class="top-div  b-r-6">

                        <div class="col-lg-12 col-xs-12 font-weight-bold">
                            <h5>{{ career.job_title }} </h5>
                        </div>

                        <div class="col-lg-12 text-left">
                            <h6 style="text-transform: none;">Job Objectives:</h6>
                            <ul>
                                {% if objectives %}
                                    {% for objective in objectives %}
                                        {% if (career.id == objective.career_id) %}
                                            <li> {{ objective.description }}</li>
                                        {% else %}
                                            Not Specified Yet
                                        {% endif %}
                                    {% endfor %}
                                {% else %}

                                {% endif %}
                            </ul>
                        </div>

                        <div class="col-lg-12 text-left">
                            <h6 style="text-transform: none;">Qualifications and Experience:</h6>
                            <ul>
                                {% if quality_and_experiences %}
                                    {% for quality_and_experience in quality_and_experiences %}
                                        <li>{{ quality_and_experience.description }}</li>
                                    {% endfor %}
                                {% endif %}
                            </ul>

                        </div>
                        <div class="text-right mb-3 mr-2">

                            <button type="button" class="btn btn-danger ml-2 btn-round sys-btn-raise btn-sm" data-dismiss="modal"><i class="icon-cross"></i> Close</button>
                            {% if career.file_name %}
                                <a href="{{ render_static(career.file_name) }}" download="true" type="button more-info" class="btn btn-info btn-sm btn-round sys-btn-raise">
                                    <i class="icon-download4"></i> Download PDF
                                </a>
                            {% endif %}
                            <button id="apply_form" type="button more-info" class="btn btn-success btn-sm btn-round sys-btn-raise">
                                <i class="icon-checkmark2"></i> Apply Job
                            </button>

                        </div>
                    </div>
                    <!-- end of top div -->


                    <form action="/tenders_careers/" method="post" class="bottom-div  b-r-6 text-center application_form">
                        <h65 class="font-weight-bold">APPLICANTION FORM</h5>
                            <input type="hidden" name="career_id" value="{{ career.id }}">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group text-left">
                                        <label for="exampleInput1" class="bmd-label-floating ">Enter Full Names<span class="text-danger">*</span></label>
                                        <input type="text" name="full_name" class="form-control">
                                        <span class="bmd-help">Names should match as in your Academic Certificates.</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="form-group text-left">
                                        <label for="exampleInput1" class="label-control">Date of Birth<span class="text-danger">*</span></label>
                                        <input type="text" name="dob" class="form-control birthday" value=""/>
                                        <span class="bmd-help">Dates should match as in your Academic Certificates.</span>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group text-left">
                                        <label for="exampleInput1" class="bmd-label-floating ">Posta Address<span class="text-danger">*</span></label>
                                        <input type="text" name="postal_address" class="form-control">
                                        <!-- <span class="bmd-help">Names should match as in your Academic Certificates.</span> -->
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="form-group text-left">
                                        <label for="exampleInput1" class="bmd-label-floating ">Place of Birth<span class="text-danger">*</span></label>
                                        <input type="text" name="place_of_birth" class="form-control">
                                        <span class="bmd-help">This data should match as in your Academic Certificates.</span>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group text-left">
                                        <label for="exampleInput1" class="bmd-label-floating ">Nationality<span class="text-danger">*</span></label>
                                        <select class="form-control select-arry" name="nationality">
                                        </select>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col">
                                    <div class="form-group text-left">
                                        <label for="exampleInput1" class=" ">Marital Status<span class="text-danger">*</span></label>

                                        <div>

                                            <div class="form-check form-check-radio form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="marital_status" value="1">
                                                    Single
                                                    <span class="circle">
                                <span class="check" ></span>
                            </span>
                                                </label>
                                            </div>
                                            <div class="form-check form-check-radio form-check-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="marital_status" value="2">
                                                    Married
                                                    <span class="circle">
                                <span class="check"></span>
                            </span>
                                                </label>
                                            </div>
                                            <div class="form-check form-check-radio form-check-inline disabled">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="marital_status" value="3">
                                                    Widowed
                                                    <span class="circle">
                                <span class="check"></span>
                            </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group text-left">
                                        <label for="exampleInput1" class="bmd-label-floating ">Telephone No.<span class="text-danger">*</span></label>
                                        <input type="text" name="phone" class="form-control">
                                        <span class="bmd-help">Use Number which is available at all times.</span>
                                    </div>
                                </div>
                            </div>
                            <hr>

                            <div class="row">

                                <label class="col-md-12 mt-2">Educational and Professional Qualifications</label>

                                <div id="edu_div" class="col-md-12">
                                    <div class="row edu_div">

                                        <div class="col-md-3">
                                            <div class="form-group text-left">
                                                <label for="exampleInput1" class="bmd-label-floating ">Name of school<span class="text-danger">*</span></label>
                                                <input type="text" name="name_of_school" class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="form-group text-left">
                                                <label for="exampleInput1" class="bmd-label-floating ">Finish Year<span class="text-danger">*</span></label>
                                                <input type="text" name="finish_school_year" class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-md-5">
                                            <div class="form-group text-left">
                                                <label for="exampleInput1" class="bmd-label-floating ">Examinations passed<span class="text-danger">*</span></label>
                                                <input type="text" name="school_exam" class="form-control">
                                                <span class="bmd-help">Eg. (Math, Kiswahil, Civics....)</span>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="form-group text-left">
                                                <label for="exampleInput1" class="bmd-label-floating ">Division/Grade<span class="text-danger">*</span></label>
                                                <input type="text" name="school_grade" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">

                                    <button id="edu_btn" class="btn btn-round btn-sm sys-btn-raise btn-info"><i class="icon-plus22" style="font-size: 20px;"></i> Add Row</button>

                                </div>

                            </div>


                            <div class="row">

                                <label class="col-md-12 mt-2">Details of Technical and University education and professional qualifications obtained since leaving school</label>

                                <div class="col-md-12" id="uni_div">
                                    <div class="row uni_div">
                                        <div class="col-md-3">
                                            <div class="form-group text-left">
                                                <label for="exampleInput1" class="bmd-label-floating ">University/ Techinical College<span class="text-danger">*</span></label>
                                                <input type="text" name="university" class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="form-group text-left">
                                                <label for="exampleInput1" class="bmd-label-floating ">Finish Year<span class="text-danger">*</span></label>
                                                <input type="text" name="university_finish_year" class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group text-left">
                                                <label for="exampleInput1" class="bmd-label-floating ">Course<span class="text-danger">*</span></label>
                                                <input type="text" name="univesity_course" class="form-control">
                                                <span class="bmd-help">Eg. (Masters, Bachelor, Diploma, or Certificate of.....)</span>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group text-left">
                                                <label for="exampleInput1" class="bmd-label-floating ">Achieved pass class<span class="text-danger">*</span></label>
                                                <input type="text" name="university_pass" class="form-control">
                                                <span class="bmd-help">Eg. (GPA 2.5 Second Class [Lower Division]...)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">

                                    <button id="uni_btn" href="" class="btn btn-round btn-sm sys-btn-raise btn-info"><i class="icon-plus22" style="font-size: 20px;"></i> Add Row</button>

                                </div>

                            </div>

                            <div class="col-md-10 mb-3">
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Other Professional Qualifications achieved</label>
                                    <textarea class="form-control" name="others" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="text-right mb-3 mr-2">
                                <span id="cancel_form" class="btn btn-round btn-sm sys-btn-raise btn-danger"><i class="icon-cross" style="font-size: 20px; cursor: pointer; color: white"></i>Cancel</span>
                                <span id="send_form" class="btn btn-round btn-sm sys-btn-raise btn-success"><i class="icon-checkmark2" style="font-size: 20px; cursor: pointer; color: white"></i> Send</span>

                            </div>

                    </form>

                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}
<footer class="footer ">
    <div class="container">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="/" class="sys-color-text">
                        Home
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right font-weight-normal sys-color-text" >
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script> &nbsp National Insurance Corporation (T) Limited.
        </div>
    </div>
</footer>

<!-- Modals -->

<!-- tenders modal -->
<div class='tender_modal'>
</div>

<!-- tenders modal -->
<div class="career_modal">
</div>

</body>
</html>

{% include "common/script_links.html.twig" %}

<script type="text/javascript">

    $(document).ready(function(){

        // $(".tenders").html(tenders());
        // $(".tender_count").html(tenders().length);
        // $(".careers").html(careers());
        // $(".career_count").html(careers().length);

        $('.bottom-div').hide();

        $('#apply_form').click(function(){
            $('.bottom-div').slideDown(1500).show();
        });

        $('#cancel_form').click(function(){
            $('.bottom-div').slideUp(1500);
            $.notify({
                // options
                message: 'Application process has been canceled!'
            },{
                // settings
                type: 'danger',
                mouse_over: 'pause'
            });
        });


        $('#send_form').click(function(){
            //var ip_address = url+"nic_website/jobApplication/";
            var ip_address = url+"jobApplication/";
            var university_list = [];
            var school_list = [];
            $(".uni_div").each(function(){
                var university = $(this).find("input[name='university']").val();
                console.log(university);
                var university_finish_year = $(this).find("input[name='university_finish_year']").val();
                var univesity_course = $(this).find("input[name='univesity_course']").val();
                var university_pass = $(this).find("input[name='university_pass']").val();
                university_list.push({"university":university,"university_finish_year":university_finish_year,"univesity_course":univesity_course,"university_pass":university_pass});
            });
            console.log(university_list);
            $(".edu_div").each(function(){
                var name_of_school = $(this).find("input[name='name_of_school']").val();
                var finish_school_year = $(this).find("input[name='finish_school_year']").val();
                var school_exam = $(this).find("input[name='school_exam']").val();
                var school_grade = $(this).find("input[name='school_grade']").val();
                school_list.push({"name_of_school":name_of_school,"finish_school_year":finish_school_year,"school_exam":school_exam,"school_grade":school_grade});
            });
            $.ajax({
                url:"/tenders_careers/",
                method:"POST",
                data: $(".application_form").serialize()+"&university_list="+JSON.stringify(university_list)+"&school_list="+JSON.stringify(school_list),
            }).done(function(reponse){
                if(reponse['status']){
                    $.notify({
                        // options
                        message: reponse['message']
                    },{
                        // settings
                        type: 'success',
                        mouse_over: 'pause'
                    });
                    $('.bottom-div').slideUp(1500);
                }else{
                    $.notify({
                        // options
                        message: reponse['message']
                    },{
                        // settings
                        type: 'danger',
                        mouse_over: 'pause'
                    });
                }

            }).fail(function(){
                $.notify({
                    // options
                    message: 'Something Went Wrong'
                },{
                    // settings
                    type: 'danger',
                    mouse_over: 'pause'
                });
            });

        });

        var counter = 0;
        $('#edu_btn').click(function(e){
            e.preventDefault();
            counter = counter + 1;
            if(counter<=2){
                var container = $('#edu_div').html();
                $('#edu_div').append(container);

            }else{
                $.notify({
                    // options
                    message: 'Oops!, Maximum row reached!'
                },{
                    // settings
                    type: 'danger',
                    mouse_over: 'pause'
                });
            }

        });

        var counter_1 = 0;
        $('#uni_btn').click(function(e){
            e.preventDefault();
            counter_1 = counter_1 + 1;
            if(counter_1<=2){
                var container = $('#uni_div').html();
                $('#uni_div').append(container);

            }else{
                $.notify({
                    // options
                    message: 'Oops!, Maximum row reached!'
                },{
                    // settings
                    type: 'danger',
                    mouse_over: 'pause'
                });
            }

        });

        $('.birthday').datetimepicker({
            format: 'DD/MM/YYYY',
            viewMode: 'years',
            icons: {
                time: "icon-watch2",
                date: "icon-calendar2",
                up: "icon-arrow-up12",
                down: " icon-arrow-down12",
                previous: "icon-arrow-left12",
                next: "icon-arrow-right13",
                today: "icon-camera",
                clear: "icon-trash",
                close: "icon-cross"
            }
        });


// loop countries

        var list_opt  = [];
        for(var i = 0; i < country_list.length;  i++){
            var c = "<option value="+country_list[i]+">"+country_list[i]+"</option>";
            list_opt.push(c);
        }
        $('.select-arry').html(list_opt);

    });

        // start of function share
        function share(){

            var ul,uu,temp_holder;

            uu = window.location.href;

            var temp_holder = document.createElement('input'),

                text = uu;

            document.body.appendChild(temp_holder);
            temp_holder.value = text;
            temp_holder.select();
            document.execCommand('copy');
            document.body.removeChild(temp_holder);


            $.notify({
                // options
                message: '<i class="icon-gallery" style="font-size:20px;"></i>&nbsp &nbsp &nbsp Link has been copied!'
            },{
                // settings
                type: 'success',
                mouse_over: 'pause'
            });

        }

        // end of function share
</script>